<template>
     <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                general Settings
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
