<template>
    <div class="container">
        

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-3">
                        <!-- Profile Image -->
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" :src="profile" alt="User profile picture">
                                </div>

                                <h3 class="profile-username text-center">{{ user.name }}</h3>

                                <p class="text-muted text-center">{{ user.email }}</p>

                                <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                        <span v-for="role in roles" class="badge badge-primary roleBadge">{{ role.name }}</span>
                                </li>
                                
                                </ul>

                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>

                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Settings</h3>
                            </div>

                            <div class="card-body">

                                <form @submit.prevent="updateProfile" @keydown="editUserForm.onKeydown($event)">
                                    <div class="form-group">
                                    <input v-model="editUserForm.name" type="text" name="name"
                                        class="form-control" :class="{ 'is-invalid': editUserForm.errors.has('name') }" placeholder="Example Name">
                                    <has-error :form="editUserForm" field="name"></has-error>
                                    </div>

                                    <div class="form-group">
                                    <input v-model="editUserForm.email" type="email" name="email"
                                        class="form-control" :class="{ 'is-invalid': editUserForm.errors.has('email') }" placeholder="example@email.com">
                                    <has-error :form="editUserForm" field="email"></has-error>
                                    </div>


                                    <button :disabled="editUserForm.busy" type="submit" class="btn btn-success">Update</button>

                                </form>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
</template>

<script>
    import profile from '../../img/profile.png'
    export default {
        props: {
            user: {
                type: Object,
                default: null,
            } 
        },
        data() {
            return {
                profile: profile,
                roles: [],
                editUserForm: new Form({
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    
                })
            }
        },
        methods: {
            getUserRoles(id = this.user.id) {
                axios.get('/getUserRoles/' + id).then((response) => {
                    this.roles = response.data
                })
            },

            updateProfile(){

            }
        },
        created() {
            this.getUserRoles()
        }
    }
</script>
<style lang="scss" scoped>
    .roleBadge{
        margin-right: 2px;
    }
</style>