<template>
    <div class="container">
        

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                Settings info
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
</template>

<script>
    export default {
        mounted() {
        }
    }
</script>
