<template>
    <div>
        <ul class="navbar navbar-nav settings-nav">
            <li class="settings-link nav-item" v-for="item in items">
                <router-link :to="item.route" class="nav-link">
                    <span v-model="settingsTitle">{{ item.name }}</span>
                </router-link>
            </li>
           
        </ul>
    </div>
</template>

<script>
    
    export default {
        props: {
            settingsTitle: ''
        },
        data() {
            return {
                items: [
                    { name: 'Info', route: '/settings' },
                    { name: 'General', route: '/settings/general' },
                    { name: 'Profile ', route: '/settings/profile' }
                ] 
            }
        },
    }
</script>
