<template>
    <div>
        <div class="error-page">
        <h2 class="headline text-warning"> 401</h2>

        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Unauthorized.</h3>

          <p>
            You are not authorized to perform this function.
            Meanwhile, you may <router-link to="/home">return to dashboard</router-link>.
          </p>


        </div>
        <!-- /.error-content -->
      </div>
    </div>
</template>

<script>
export default {
    
};
</script>

<style lang="scss">
    .error-page{
        margin: 0 auto 0;
        width: 600px;
        padding-top: 40px;
    }
</style>