<template class="login-page">
    <center class="login-bg">
        <div class="login-box">
            <div class="login-logo">
                <a href="/">{{ appname }}</a>
            </div>
            <!-- /.login-logo -->
            <div class="login-card">
                <div class="">

                <form @submit.prevent="login" @keydown="loginForm.onKeydown($event)">

                    <div class="form-group mb-3">
                        <input v-model="loginForm.email" type="email" name="email"
                        class="form-control" :class="{ 'is-invalid': loginForm.errors.has('email') }" placeholder="example@email.com">
                        <has-error :form="loginForm" field="email"></has-error>
                    </div>

                    <div class="form-group mb-3">
                        <input v-model="loginForm.password" type="password" name="password"
                        class="form-control" :class="{ 'is-invalid': loginForm.errors.has('password') }" placeholder="***********">
                        <has-error :form="loginForm" field="password"></has-error>
                    </div>
                    
                    <div class="row">
                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark btn-block btn-rounded">Sign In</button>
                    </div>
                    <!-- /.col -->
                    </div>
                </form>

                
                <br><br>
                <p class="mb-1 mt-2">
                    <a href="#">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <router-link to="/register" class="text-center">
                        Register a new membership
                    </router-link>
                </p>
                </div>
                <!-- /.login-card-body -->
            </div>
            </div>
    </center>
</template>

<script>
export default {
    props: {
        appname: String
    },
    data() {
        return {
            loginForm: new Form({
                email: '',
                password: '', 
            })
        }
    },

    methods: {
        login() {
            this.loginForm.post('login').then((response) => {
                document.location.href = '/home'
                toast.fire({
                    type: 'success',
                    title: 'Login successiful, welcome. '
                })
            }).catch((error) => {
                toast.fire({
                    type: 'error',
                    title: 'Error while signing in. '
                })
                console.log(error)
            })
        }
    }
}
</script>

<style lang="scss" scoped>
    login-body{
        align-items: center;
    }
    .login-bg{
        // background: linear-gradient(90deg, #cf70f694 0%, #1f56acba 100%) , url('https://unsplash.it/1200/900?random') no-repeat center center fixed;
        background: linear-gradient(270deg, rgba(50,200,250,0.5) 0%, rgba(88,125,228,0.5) 100%) , url('../../img/bg.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100vh;   
        padding-top: 10%;
    }
    .login-logo > a, p, a, label{
        color: #fafafa !important;
    }
    .btn-dark{
        // background: #3a0d63 !important;
        background: linear-gradient(270deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
        color: #fafafa !important;
        border: none;
    }
    input{
        border: none;
        border-bottom: 1px solid #fafafa;
        border-radius: 0px !important;
        background: transparent !important;
    }
    input::placeholder, input:focus{            
            color: #fafafa !important;
    }
</style>