<template class="login-page">
    <center class="login-bg">
        <div class="login-box">
            <div class="login-logo">
                <a href="/">{{ appname }}</a>
            </div>
            <!-- /.login-logo -->
            <div class="login-card">
                <div class="">

                <form @submit.prevent="register" @keydown="registerForm.onKeydown($event)">

                    <div class="form-group mb-3">
                        <input v-model="registerForm.name" type="text" name="name"
                        class="form-control" :class="{ 'is-invalid': registerForm.errors.has('name') }" placeholder="Example Name">
                        <has-error :form="registerForm" field="name"></has-error>
                    </div>

                    <div class="form-group mb-3">
                        <input v-model="registerForm.email" type="email" name="email"
                        class="form-control" :class="{ 'is-invalid': registerForm.errors.has('email') }" placeholder="example@email.com">
                        <has-error :form="registerForm" field="email"></has-error>
                    </div>

                    <div class="form-group mb-3">
                        <input v-model="registerForm.password" type="password" name="password"
                        class="form-control" :class="{ 'is-invalid': registerForm.errors.has('password') }" placeholder="***********">
                        <has-error :form="registerForm" field="password"></has-error>
                    </div>

                    <div class="form-group mb-3">
                        <input v-model="registerForm.password_confirmation" type="password" name="password_confirmation"
                        class="form-control" :class="{ 'is-invalid': registerForm.errors.has('password') }" placeholder="***********">
                        <has-error :form="registerForm" field="password"></has-error>
                    </div>
                    
                    <div class="row">
                    
                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark btn-block btn-rounded">Sign Up</button>
                    </div>
                    <!-- /.col -->
                    </div>
                </form>

                
                <!-- <p class="mb-1">
                    <a href="#">I forgot my password</a>
                </p> -->
                <br><br>
                <p class="mb-0">
                    <router-link to="/login" class="text-center">
                        Login to start your session
                    </router-link>
                </p>
                </div>
                <!-- /.login-card-body -->
            </div>
            </div>
    </center>
</template>

<script>
export default {
    props: {
        appname: String
    },
    data() {
        return {
            registerForm: new Form({
                name: '',
                email: '',
                password: '', 
                password_confirmation: '',
            })
        }
    },

    methods: {
        register() {
            this.registerForm.post('register').then((response) => {
                document.location.href = '/login'
                toast.fire({
                    type: 'success',
                    title: 'Successifully registered, login to start your session. '
                })
            }).catch((error) => {
                toast.fire({
                    type: 'error',
                    title: 'Error while registering. '
                })
                console.log(error)
            })
        }
    }
}
</script>



<style lang="scss" scoped>
    login-body{
        align-items: center;
    }
    .login-bg{
        // background: linear-gradient(90deg, #cf70f694 0%, #1f56acba 100%) , url('https://unsplash.it/1200/900?random') no-repeat center center fixed;
        background: linear-gradient(270deg, rgba(50,200,250,0.5) 0%, rgba(88,125,228,0.5) 100%) , url('../../img/bg.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100vh;   
        padding-top: 8%;
    }
    .login-logo > a, p, a, label{
        color: #fafafa !important;
    }
    .btn-dark{
        // background: #3a0d63 !important;
        background: linear-gradient(270deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
        color: #fafafa !important;
        border: none;
    }
    input{
        border: none;
        border-bottom: 1px solid #fafafa;
        border-radius: 0px !important;
        background: transparent !important;
    }
    input::placeholder, input:focus{            
            color: #fafafa !important;
    }
</style>