<template>
    <div>
        <section class="section about is-background-gray animated fadeIn" id="about">
			<center>
				<div class="columns is-centered">
					<div class="column is-8">
                        <h2 class="title is-3">
                            <span class="has-shadow-white">
                                About me
                            </span>
                        </h2>
                        <figure class="image is-128x128">
                            <img :src="userImage" class="is-rounded" alt="Gerald Muvengei">
                        </figure>
                        <br>
						<p class="content">
							Ssup! An Gerald Muvengei, Full Stack Web Developer and a Computer Scientist. I'm passionate about technology, coding, rock music and sometimes gaming. Since my second year in the university in 2016, I developed intrest is web development and I've always wanted to be a Web Developer! Which I am now, and still building up on.
						</p>

                        <a href="" class="button is-rounded is-primary is-medium">Resume {{ resume }}</a>
					</div>
				</div>
			</center>
		</section>
    </div>
</template>

<script>

import userImage from '../../img/geraldmuvengei.jpg'

let myEmoji = require('node-emoji')

export default {
    data() {
        return {
            userImage: userImage,
            resume: myEmoji.get('male-student')
        }
    },

    mounted() {
    },
}
</script>

<style lang="scss" scoped>
	.section{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .about{
        background: linear-gradient(270deg, rgba(50,200,250,0.5) 0%, rgba(88,125,228,0.5) 100%) , url('../../img/boxed-bg.jpg') no-repeat center center fixed;
        background-size: cover;
    }
    p.content, .title > span{
        color: #ffffff;
    }
    .is-primary{
        background: linear-gradient(270deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
        border: 0px !important
    }
</style>