<template>
    <div class="has-background-gray" >
        <section class="section container contact is-background-gray animated fadeIn" id="contact">
			<center>
				<div class="columns is-centered">
					<div class="column">
                        <h2 class="title is-3">
                            <span class="has-shadow-blush">
                                Say Hello
                            </span>
                        </h2>
						
                        <form action="" name="">
                            <div class="columns is-centered">
                                <div class="column is-6">

                                    <div class="field">
                                        <input type="text" class="input is-medium has-background-white-ter" name="name" required placeholder="Name*">
                                    </div>

                                    <div class="field">
                                        <input type="email" class="input is-medium has-background-white-ter" name="email" required placeholder="Email*">
                                    </div>
                                    
                                    <div class="field">
                                        <textarea name="message" id="message" cols="" rows="4" class="textarea has-background-white-ter" placeholder="Message*"></textarea>
                                    </div>

                                    <button type="submit" class="button is-rounded is-medium is-primary">{{ sendEmoji }}  Send</button>
                                    
                                </div>  
                            </div>
                        </form>

                        <h5 class="is-6 or">Or</h5>


                        <h2 class="title is-3">
                            <span class="has-shadow-yellow">
                                Find me on Social Media
                            </span>
                        </h2>

                        <div class="tags is-centered">
                            <a v-for="item in socialLinks" :href="item.link" class="button " :class="item.class"><span class="fa" :class="item.icon"> </span> {{ item.name }}</a>
                            
                        </div>
                        <div class="tags is-centered">
                            <!-- <a href="mailto:geraldmuvengei06@gmail.com"> <span class="fa fa-envelope"></span> Send me a mail</a> -->
                        </div>
					</div>
				</div>


			</center>
		</section>
    </div>
</template>

<script>

var myEmoji = require('node-emoji')

export default {
    data() {
        return {
            sendEmoji: myEmoji.get('envelope'),
            socialLinks: [
                { name: 'Facebook', class: "is-facebook", icon: "fa-facebook", link: 'https://facebook.com/craiggera' },
                { name: 'Twitter', class: "is-twitter", icon: "fa-twitter", link: 'https://twitter.com/craiggera' },
                { name: 'Github', class: "is-github", icon: "fa-github", link: 'https://github.com/geraldmuvengei06' },
                { name: 'Linkedin', class: "is-linkedin", icon: "fa-linkedin", link: 'https://linkedin.com/geraldmuvengei06' },
            ],

        }
    },

    methods: {

       
    },

    mounted() {
        

    },
};
</script>


<style lang="sass" scoped>
    .tags
        .button
            margin-right: 4px 
            margin-left: 4px 
        .fa
            padding-right: 4px
    .or
        margin-top: 30px 
        margin-bottom: 30px 
    form
        input, textarea
            border: none
            box-shadow: unset
            border-radius: 10px
    .is-primary
        background: linear-gradient(270deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%)
        border: 0px !important
    
</style>
<style scoped>
    .is-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.is-facebook:focus,.is-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.is-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.is-facebook:active,.is-facebook.active,.open>.dropdown-toggle.is-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.is-facebook:active:hover,.is-facebook.active:hover,.open>.dropdown-toggle.is-facebook:hover,.is-facebook:active:focus,.is-facebook.active:focus,.open>.dropdown-toggle.is-facebook:focus,.is-facebook:active.focus,.is-facebook.active.focus,.open>.dropdown-toggle.is-facebook.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.is-facebook:active,.is-facebook.active,.open>.dropdown-toggle.is-facebook{background-image:none}
.is-facebook.disabled:hover,.is-facebook[disabled]:hover,fieldset[disabled] .is-facebook:hover,.is-facebook.disabled:focus,.is-facebook[disabled]:focus,fieldset[disabled] .is-facebook:focus,.is-facebook.disabled.focus,.is-facebook[disabled].focus,fieldset[disabled] .is-facebook.focus{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.is-facebook .badge{color:#3b5998;background-color:#fff}

.is-github{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}.is-github:focus,.is-github.focus{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}
.is-github:hover{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}
.is-github:active,.is-github.active,.open>.dropdown-toggle.is-github{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}.is-github:active:hover,.is-github.active:hover,.open>.dropdown-toggle.is-github:hover,.is-github:active:focus,.is-github.active:focus,.open>.dropdown-toggle.is-github:focus,.is-github:active.focus,.is-github.active.focus,.open>.dropdown-toggle.is-github.focus{color:#fff;background-color:#191919;border-color:rgba(0,0,0,0.2)}
.is-github:active,.is-github.active,.open>.dropdown-toggle.is-github{background-image:none}
.is-github.disabled:hover,.is-github[disabled]:hover,fieldset[disabled] .is-github:hover,.is-github.disabled:focus,.is-github[disabled]:focus,fieldset[disabled] .is-github:focus,.is-github.disabled.focus,.is-github[disabled].focus,fieldset[disabled] .is-github.focus{background-color:#444;border-color:rgba(0,0,0,0.2)}
.is-github .badge{color:#444;background-color:#fff}

.is-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.is-linkedin:focus,.is-linkedin.focus{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}
.is-linkedin:hover{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}
.is-linkedin:active,.is-linkedin.active,.open>.dropdown-toggle.is-linkedin{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}.is-linkedin:active:hover,.is-linkedin.active:hover,.open>.dropdown-toggle.is-linkedin:hover,.is-linkedin:active:focus,.is-linkedin.active:focus,.open>.dropdown-toggle.is-linkedin:focus,.is-linkedin:active.focus,.is-linkedin.active.focus,.open>.dropdown-toggle.is-linkedin.focus{color:#fff;background-color:#00405f;border-color:rgba(0,0,0,0.2)}
.is-linkedin:active,.is-linkedin.active,.open>.dropdown-toggle.is-linkedin{background-image:none}
.is-linkedin.disabled:hover,.is-linkedin[disabled]:hover,fieldset[disabled] .is-linkedin:hover,.is-linkedin.disabled:focus,.is-linkedin[disabled]:focus,fieldset[disabled] .is-linkedin:focus,.is-linkedin.disabled.focus,.is-linkedin[disabled].focus,fieldset[disabled] .is-linkedin.focus{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}
.is-linkedin .badge{color:#007bb6;background-color:#fff}

.is-twitter{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)}.is-twitter:focus,.is-twitter.focus{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}
.is-twitter:hover{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}
.is-twitter:active,.is-twitter.active,.open>.dropdown-toggle.is-twitter{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}.is-twitter:active:hover,.is-twitter.active:hover,.open>.dropdown-toggle.is-twitter:hover,.is-twitter:active:focus,.is-twitter.active:focus,.open>.dropdown-toggle.is-twitter:focus,.is-twitter:active.focus,.is-twitter.active.focus,.open>.dropdown-toggle.is-twitter.focus{color:#fff;background-color:#1583d7;border-color:rgba(0,0,0,0.2)}
.is-twitter:active,.is-twitter.active,.open>.dropdown-toggle.is-twitter{background-image:none}
.is-twitter.disabled:hover,.is-twitter[disabled]:hover,fieldset[disabled] .is-twitter:hover,.is-twitter.disabled:focus,.is-twitter[disabled]:focus,fieldset[disabled] .is-twitter:focus,.is-twitter.disabled.focus,.is-twitter[disabled].focus,fieldset[disabled] .is-twitter.focus{background-color:#55acee;border-color:rgba(0,0,0,0.2)}
.is-twitter .badge{color:#55acee;background-color:#fff}
</style>
