<template lang="">
        <section class="hero is-info is-large">
            <div class="hero-head">
                <nav class="navbar" :class=" fixNav ? 'is-fixed-top' : ''">
                <div class="container">
                    <div class="navbar-brand">
                    <a class="navbar-item">
                        <img :src="logo" class="logo" alt="Logo"> 
                    </a>
                    <span class="navbar-burger burger" :class="fixNav ? 'is-black' : 'is-white'" @click="showMobileMenu ? false : true " data-target="navbarMenuHeroB">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    </div>
                    <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item" :class=" fixNav? 'link-item' : '' " v-for="route in routes" :href="route.link">
                            {{ route.name }}
                        </a>

                        <span class="navbar-item">
                            <router-link to="login" class="button" :class="fixNav ? 'is-dark' : 'is-outlined is-white'">Login</router-link>
                        </span>
                    </div>
                    </div>
                </div>
                </nav>
            </div>
            <div class="hero-body">
                <div class="container ">

                    <div class="columns ">
                        <div class="column">
                            <h3 class="sub-subtitle">Hi</h3>
                            <h1 class="title">
                                {{ title }}
                            </h1>
                            <h2 class="subtitle">
                                {{ subtitle }}
                            </h2>

                            <a href="#contact" class="button is-dark">Say Hello {{ handEmoji }}</a>


                        </div>

                        <div class="column">
                            
                        </div>


                    </div>
                </div>
            </div>
        </section>
</template>

<script>
import logo from '../../img/logo.png'
let myEmoji = require('node-emoji')
export default {
    data() {
        return {
            logo: logo,
            handEmoji: myEmoji.get('wave'),
            title: "I'm Gerald",
            subtitle: "A full stack web developer.",
            routes: [
                { name : "Skills", link: "#skills" },
                { name : "Work", link: "#work" },
                { name : "About", link: "#about" },
                { name : "Contact", link: "#contact" },
            ],

            // fixNav: false,
            fixNav: false,
            lastScrollPosition: 0,
            showMobileMenu: false,
        }
    },

    methods: {
        onScroll() {
            // Get the current scroll position
            const currentScrollPosition = window.pageYOffset || document.documentElement.scrollTop
            // Because of momentum scrolling on mobiles, we shouldn't continue if it is less than zero
            if (currentScrollPosition < 0) {
              return
            } else if(currentScrollPosition > 200) {
                this.fixNav = true
            } else {
                this.fixNav = false
            }
        },

    },

    mounted() {
        window.addEventListener('scroll', this.onScroll)
    },

    beforeDestroy () {
      window.removeEventListener('scroll', this.onScroll)
    }
};
</script>

<style lang="scss">

    @import '../../../../node_modules/bulma-scss/bulma';
    .hero.is-large .hero-body {
        padding-bottom: 12rem;
        padding-top: 12rem;
        transition: 1s ease-in-out;
    }

    @media(max-height: 460px) {
        .hero.is-large .hero-body {
            padding-bottom: 6rem;
            padding-top: 6rem;
            transition: 1s ease-in-out;
        }
    }

    .is-fixed-top{
        transition: 1s ease-in-out !important;
        background-color: #ffffff !important;
    }
    .link-item{
        color: rgba(0,0,0,.7) !important;
    }
    .is-dark{
        background: linear-gradient(270deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
        box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
        color: #fafafa !important;
        border: none;
    }

    .is-info{
          background: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #83a4ea, #6aadef, #4eb6ef, #00bfeb, #00c7df, #00cdcb, #00d1b2);
        // background: linear-gradient(270deg, rgba(50,200,250,0.5) 0%, #fafafa 100%) , url('../../img/photo3.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        // min-height: 100vh !important;
        // clip-path: polygon(0 0, 57% 0, 46% 100%, 0% 100%);
        // clip-path: polygon(38% 0, 50% 50%, 38% 100%, 0% 100%, 0% 0%);
        // clip-path: polygon(45% 0, 57% 51%, 45% 100%, 0% 100%, 0 50%, 0% 0%);
        // clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 94% 88%, 94% 100%, 87% 90%, 0 89%);
        // clip-path: polygon(1% 1%, 100% 0%, 100% 10%, 47% 100%, 0% 100%);
    }
    

    .logo{
        // min-height: 40px;
    }
    
    a.navbar-item:hover{
        background-color: transparent !important;
        transition: .4s ease-in-out;
    }


</style>

<style type="text/css" scoped>
    .title{
        font-size: 2.4rem !important;
    }
    .subtitle{
        font-size : 2.4rem !important;
        font-weight: lighter !important;
    }
    .sub-subtitle{
        font-size: 2rem;
        border-left: 4px solid #d16ba5;
        padding-left: 4px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .is-black{
        border-radius: 2px;
        border: 1px solid #d16ba5;
        transition: .4s ease-in-out;
        color: #d16ba5 !important;
    }

    .is-white{
        border-radius: 2px;
        border: 1px solid #ffffff;
        transition: .4s ease-in-out;
        color: #ffffff !important;
    }

</style>