<template>
    <div class="wrapper">            
        <navbar-component :user="user"></navbar-component>
        <aside-component :user="user" :appname="appname"></aside-component>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: 198.75px;">
            <!-- router view -->
            <!-- <transition name="fade" mode="out-in" appear>
                <router-view />
            </transition> -->
            <!-- animate with animate.css -->
        <transition mode="out-in" appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" :duration="500">
            <router-view :user="user" />
        </transition>
        </div>
        <!-- /.content-wrapper -->

        <ctlsidebar-component />
        <footer-component />

    </div>
</template>

<script>
    import Navbar from './partials/NavbarComponent'
    import Aside from './partials/AsideComponent'
    import Footer from './partials/FooterComponent'
    import CtlSidebar from './partials/CtlSidebarComponent'
    export default {
        components: {
            'navbar-component' : Navbar,
            'aside-component': Aside,
            'footer-component': Footer,
            'ctlsidebar-component': CtlSidebar,
        },

        props: {
            user: {
                type: Object,
                default: null
            },
            appname: String
        },

        data() {
            return {
            }
        },
        mounted() {
            
        }
        
    };
</script>

<style type="text/css">
    .fade-enter{
        opacity: 0;
    }
    .fade-enter-active{
        transition: opacity 0.5s;
    }
    .fade-leave{
        /* opacity: 1; */
    }
    .fade-leave-active{
        transition: opacity 0.5s;
        opacity: 0;
    }
</style>