<template>
    <div class="container">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Starter Page</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 pr-1 pl-1">
                        <div class="card">
                            <div class="card-header">


                                <div class="btn-group float-right">
                                    <button type="button" class="btn btn-outline-info" @click="createRoleModal">
                                        <span class="fa fa-plus "></span> Role
                                    </button>
                                    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modal-permissions">
                                        <span class="fa fa-plus "></span> Permission
                                    </button>
                                </div>
                            </div>
                            <div class="card-body pt-0 pb-0 pr-0 pl-0">
                                <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                  <th>Role</th>
                                  <th>Permissions</th>
                                  <th>Created At</th>
                                  <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="role in roles">
                                  <td>{{ role.name }}</td>
                                  <td>
                                    <div v-for="permission in role.permissions" class="btn btn-group">
                                        <a class="badge badge-primary text-white"  >{{ permission.name }}
                                        </a>
        
                                        <a class="badge badge-danger permBadge text-white" @click="removePermission(role, permission)">
                                            <span class="fa fa-times"></span>
                                        </a>
                                    </div>
                                     
                                  </td>
                                  <td>{{ role.created_at }}</td>
                                  <td>
                                      <div class="btn btn-group">
                                          <button class="btn btn-info" @click="editRoleModal(role)">
                                              <span class="fa fa-edit text-white"></span>
                                          </button>
                                           <button class="btn btn-success" @click="asignPermissionToRoleModal(role)">
                                              <span class="fa fa-plus text-white"></span>
                                          </button>
                                          <button class="btn btn-danger" @click="deleteRole(role.id)">
                                              <span class="fa fa-trash text-white"></span>
                                          </button>
                                      </div>
                                  </td>
                                </tr>
                                
                                </tbody>
                                <tfoot>
                                <tr>
                                  <th>Role</th>
                                  <th>Permissions</th>
                                  <th>Created At</th>
                                  <th>Action</th>
                                </tr>
                                </tfoot>
                              </table>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->

        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
              <div class="modal-content">
                
                <div class="modal-body">

                    <form @submit.prevent="editMode ? updateRole() : createRole()" @keydown="roleForm.onKeydown($event)">
                        <div class="form-group">
                          <label>Role Name</label>
                          <input v-model="roleForm.name" type="text" name="name"
                            class="form-control" :class="{ 'is-invalid': roleForm.errors.has('name') }">
                          <has-error :form="roleForm" field="name"></has-error>
                        </div>


                        <button v-show="!editMode" :disabled="roleForm.busy" type="submit" class="btn btn-primary">Save</button>
                        <button v-show="editMode" :disabled="roleForm.busy" type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>

                    </form>

                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
          <!-- /.modal -->


        <div class="modal fade" id="modal-permissions">
            <div class="modal-dialog">
              <div class="modal-content">
                
                <div class="modal-body">

                    <form @submit.prevent="createPermission" @keydown="permissionForm.onKeydown($event)">
                        <div class="form-group">
                          <label>Permission Name</label>
                          <input v-model="permissionForm.name" type="text" name="name"
                            class="form-control" :class="{ 'is-invalid': permissionForm.errors.has('name') }">
                          <has-error :form="permissionForm" field="name"></has-error>
                        </div>


                        <button :disabled="permissionForm.busy" type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>

                    </form>

                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div class="modal fade" id="asignPermissionToRoleModal">
            <div class="modal-dialog">
              <div class="modal-content">
               
                <div class="modal-body">

                    <form @submit.prevent="asignPermissionToRole" @keydown="asignPermissionToRoleForm.onKeydown($event)">
                        

                        <div class="form-group">
                          <div class="select2-purple">
                            <label>Select permission</label>
                            <select v-model="asignPermissionToRoleForm.permission" class="select2 form-control" :class="{ 'is-invalid': asignPermissionToRoleForm.errors.has('name') }" data-placeholder="Select a State" data-dropdown-css-class="select2-purple" style="width: 100%;">
                              <option value="">Select permissions</option>
                              <option v-for="permission in permissions" :value="permission.id">{{ permission.name }}</option>
                            </select>
                          <has-error :form="asignPermissionToRoleForm" field="name"></has-error>

                          </div>
                        </div>
                <!-- /.form-group -->


                        <button :disabled="asignPermissionToRoleForm.busy" type="submit" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>

                    </form>

                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
      <!-- /.permission -->

    </div>
</template>

<script>
    export default {
        props: {
            user: {
                type: Object,
                default: null
            },
        },
        data () {
            return {
                roles : [],
                permissions : [],
                editMode: false,
              // Create a new form instance
                roleForm: new Form({
                    id: '',
                    name: '',
                    permissions: ''
                }),

                permissionForm: new Form({
                    name: '',
                }),

                asignPermissionToRoleForm: new Form({
                    id: '',
                    name: '',
                    permission: '',
                }),

                removeRoleForm: new Form({
                    id: '',
                    name: '',
                }),

                removePermissionForm: new Form({
                    id: '',
                    name: '',
                })


            }
          },
        methods: {
            
            getRoles() {
                axios.get('getRoles').then((response) => {
                    this.roles = response.data
                }).catch((error) => {
                    // body...
                    console.log(error)
                })
            },
            createRole() {
                this.roleForm.post('/createRole').then((response) => {
                    Fire.$emit('onRole')
                    this.roleForm.reset();
                    $('#modal-default').modal('hide')
                    toast.fire({
                        type: 'success',
                        title: 'Role created successfully'
                    });
                })
            },

            createRoleModal() {
                this.editMode = false;
                this.roleForm.reset();
                $('#modal-default').modal('show');
            },

            editRoleModal(user) {
                this.roleForm.reset()
                this.editMode = true
                this.roleForm.fill(user)
                $('#modal-default').modal('show');
            },

            updateRole() {
                this.roleForm.put('updateRole/'+this.roleForm.id).then(() => {
                    Fire.$emit('onRole')
                    this.roleForm.reset()
                    $('#modal-default').modal('hide')
                    toast.fire({
                        type: 'success',
                        title: 'Role updated successfully'
                    })
                }).catch((error) => {

                    toast.fire({
                        type: 'error',
                        title: 'Role not successfully'
                    })

                    this.catchError(error)
                })
            },

            asignPermissionToRoleModal(role) {
                this.asignPermissionToRoleForm.reset()                
                this.asignPermissionToRoleForm.fill(role)
                $('#asignPermissionToRoleModal').modal('show')
            },

            asignPermissionToRole () {
                this.asignPermissionToRoleForm.post('asignPermissionToRole').then((response) => {
                  Fire.$emit('onRole')
                  toast.fire({
                      type: 'success',
                      title: 'Permission assigned successfully'
                  })
                  this.asignPermissionToRoleForm.reset()               
                  $('#asignPermissionToRoleModal').modal('hide')
                }).catch((error) => {
                  toast.fire({
                      type: 'error',
                      title: 'Permission not assigned successfully'
                  })
                  this.catchError(error)
                })
            },

            removePermission(role, permission) {
                this.removePermissionForm.fill(permission)
                this.removeRoleForm.fill(role)
                swal.fire({
                title: 'Are you sure?',
                text: "Revoke permission from role!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove it!'
                }).then((result) => {
                    if (result.value) {
                        this.removePermissionForm.put('removePermission/'+ this.removeRoleForm.id).then((response) => {
                            // Fire event
                            this.removePermissionForm.reset()
                            this.removeRoleForm.reset()
                            Fire.$emit('onRole');
                            toast.fire(
                                'Revoked!',
                                'Permission has been revoked.',
                                'success'
                            )
                        }).catch((error) => {
                            toast.fire(
                                'Warning!',
                                'Could not be revoked.',
                                'warning'
                            )

                            this.catchError(error)
                        });
                    }
                })
            },

            deleteRole(id) {
                swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.roleForm.delete('deleteRole/'+id).then(() => {
                            // Fire event
                            Fire.$emit('onRole');
                            toast.fire(
                                'Deleted!',
                                'Role has been deleted.',
                                'success'
                            )
                        }).catch((error) => {
                            toast.fire(
                                'Warning!',
                                'Could not be deleted.',
                                'warning'
                            )

                            this.catchError(error)
                        });
                    }
                })
            },

            getPermissions() {
                axios.get('getPermissions').then((response) => {
                    this.permissions = response.data
                }).catch((error) => {
                    console.log(error)
                })
            },  

            createPermission() {
                this.permissionForm.post('/createPermission').then((response) => {
                    Fire.$emit('onPermission')
                    this.permissionForm.reset();
                    $('#modal-permissions').modal('hide')
                    toast.fire({
                        type: 'success',
                        title: 'Permission created successfully'
                    });

                })
            },

            catchError (error) {
              if (error.response.status == 401) {
                  document.location.href = '/401'
              }
            }
        },

        mounted() {
            console.log(this.user);
            
        },
        created() {

            this.getRoles()
            this.getPermissions()

            Fire.$on('onRole', () => {
                this.getRoles()
            })

            Fire.$on('onPermission', () => {
                this.getPermissions()
            })
        },
    };
</script>

<style type="scss" scoped>
  .permBadge{
    margin: 1px !important;
    cursor: pointer;
  }
</style>