<template>
    <div class="container">
        
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Starter Page</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <router-view :user="user"></router-view>
        
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            settingsTitle : '',
            user: {
                type: Object,
                default: null,
            },
        },
        data() {
            return {

            }
        },
        mounted() {
        }
    }
</script>
