<template>
	<div>	
		<header-component data-aos="fade-up"
     data-aos-anchor-placement="top-center" data-aos-duration="1000" data-aos-once="false" />
		<skills-component data-aos="fade-up"
     data-aos-anchor-placement="top-center" data-aos-duration="1000" data-aos-once="false" />
		<works-component data-aos="fade-up"
     data-aos-anchor-placement="top-center" data-aos-duration="1000" data-aos-once="false" />
		<about-component data-aos="fade-up"
     data-aos-anchor-placement="top-center" data-aos-duration="1000" data-aos-once="false" />
		<contact-component data-aos="fade-up"
     data-aos-anchor-placement="top-center" data-aos-duration="1000" data-aos-once="false" />
		<footer-component />
	</div>
</template>

<script>
import Header from './sections/Header'
import Skills from './sections/Skills'
import Works from './sections/Works'
import About from './sections/About'
import Contact from './sections/Contact'
import Footer from './sections/Footer'
import AOS from 'aos'

export default {
	components: {
		'header-component' : Header,
		'skills-component' : Skills,
		'about-component' : About,
		'works-component' : Works,
		'contact-component' : Contact,
		'footer-component' : Footer,
	},

	created() {
		AOS.init()
	}
};
</script>

<style lang="scss" scoped>
	@import '../../../node_modules/aos/dist/aos.css';
</style>