<template>
    <div class="container">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Starter Page</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        
                    </div>

                    <div class="col-md-12 pr-1 pl-1">
                        <div class="card">
                            <div class="card-header">

                                <h3 class="card-title float-left">{{ title ? title : "" }}</h3>

                                <button type="button" class="btn btn-outline-info float-right" data-toggle="modal" data-target="#modal-default">
                                    <span class="fa fa-user-add"></span> New User
                                </button>
                            </div>
                            <div class="card-body pr-0 pl-0">
                                <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                  <th>Name</th>
                                  <th>Email</th>
                                  <th>Roles</th>
                                  <th>Confirmed</th>
                                  <th>Created At</th>
                                  <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="user in users">
                                  <td>{{ user.name }}</td>
                                  <td>{{ user.email }}</td>
                                  <td>
                                    <div v-for="role in user.roles" class="btn btn-group">
                                        <span class="badge badge-primary text-white"  >{{ role.name }}
                                        </span>
        
                                        <span class="badge badge-danger permBadge text-white roleBadge"  @click="removeRole(role, user)">
                                            <span class="fa fa-times"></span>
                                        </span>
                                    </div>
                                     <!-- <span class="badge badge-success roleBadge" v-for="role in user.roles" @click="removeRole(role, user)">{{ role.name }}</span> -->
                                  </td>
                                  <th>
                                    <a class="text-white badge confirmAccount" :class=" user.confirmed ? 'badge-primary' : 'badge-danger'" @click="confirmAccount(user.id)">{{ user.confirmed ? "confirmed" : "not confirmed"}}</a>
                                  </th>
                                  <td>{{ user.created_at }}</td>
                                  <td>
                                      <div class="btn btn-group">
                                          <button class="btn btn-info" @click="editUserModal(user)">
                                              <span class="fa fa-edit text-white"></span>
                                          </button>
                                          <button class="btn btn-danger" @click="deleteUser(user.id)">
                                              <span class="fa fa-trash text-white"></span>
                                          </button>
                                      </div>
                                  </td>
                                </tr>
                                
                                </tbody>
                                <tfoot>
                                <tr>
                                  <th>Name</th>
                                  <th>Email</th>
                                  <th>Roles</th>
                                  <th>Confirmed</th>
                                  <th>Created At</th>
                                  <th>Action</th>
                                </tr>
                                </tfoot>
                              </table>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->

        </div>
        <!-- /.content -->
        <div class="modal fade" id="editUserModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" v-if="editMode">Edit User</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                    <form @submit.prevent="editUser" @keydown="editUserForm.onKeydown($event)">
                        <div class="form-group">
                          <label>Name</label>
                          <input v-model="editUserForm.name" type="text" name="name"
                            class="form-control" :class="{ 'is-invalid': editUserForm.errors.has('name') }">
                          <has-error :form="editUserForm" field="name"></has-error>
                        </div>

                        <div class="form-group">
                          <label>Email</label>
                          <input v-model="editUserForm.email" type="email" name="email"
                            class="form-control" :class="{ 'is-invalid': editUserForm.errors.has('email') }">
                          <has-error :form="editUserForm" field="email"></has-error>
                        </div>


                        <div class="form-group">
                          <label>Role</label>
                          <select v-model="editUserForm.role" type="select" name="role"
                            class="form-control" :class="{ 'is-invalid': editUserForm.errors.has('role') }">

                            <option value="">Select Role</option>
                            <option v-for="role in roles" :value="role.id">{{ role.name }}</option>
                          </select>
                          <has-error :form="editUserForm" field="role"></has-error>
                        </div>

                        <button :disabled="editUserForm.busy" type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>

                    </form>

                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</template>

<script>
    export default {
        components : {
        },
        data() {
            return {
                users: [],
                roles: [],
                title: 'Users',
                editMode: false,
                editUserForm : new Form({
                  id: '',
                  name: '',
                  email: '',
                  role: '',
                }),
                removeRoleForm : new Form({
                  id: '',
                  name: '',
                }),
                removeUserForm : new Form({
                  id: '',
                  name: '',
                })
            }
        },

        methods: {
            getUsers () {
                axios.get('/getUsers').then((response) => {
                    this.users = response.data
                }).catch((error) => {
                    console.log(error)
                })
            },

            getRoles() {
                axios.get('getRoles').then((response) => {
                    this.roles = response.data
                }).catch((error) => {
                    // body...
                    console.log(error)
                })
            },
            editUserModal(user) {
              this.editMode = true
              this.editUserForm.reset()
              this.editUserForm.fill(user)
              $('#editUserModal').modal('show')
            },

            editUser(user) {
              this.editUserForm.put('editUser/'+this.editUserForm.id).then((response) => {

                Fire.$emit('onUser')
                this.editMode = false
                this.editUserForm.reset()
                $('#editUserModal').modal('hide')
                toast.fire({
                  type: 'success',
                  title: 'User edited successifully'
                })

              }).catch((error) => {

                toast.fire({
                  type: 'error',
                  title: 'User not edited successifully'
                })
                this.catchError(error)                

              })
            },

            confirmAccount(id) {
              axios.put('/confirmAccount/'+id).then((response) => {
                Fire.$emit('onUser')
                toast.fire({
                  type: 'success',
                  title: 'User account status updated'
                })
              }).catch((error) => {
                toast.fire({
                  type: 'error',
                  title: 'User account status not updated'
                })
                this.catchError(error) 
              })
            },

            deleteUser (id) {
                swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.editUserForm.delete('deleteUser/'+id).then(() => {
                            // Fire event
                            Fire.$emit('onUser')
                            toast.fire(
                                'Deleted!',
                                'User has been deleted.',
                                'success'
                            )
                        }).catch((error) => {
                            toast.fire(
                                'Warning!',
                                'Could not be deleted.',
                                'warning'
                            )
                            this.catchError(error)
                        });
                    }
                })
            },

            removeRole(role, user) {
                this.removeRoleForm.fill(role)
                this.removeUserForm.fill(user)
                console.log(this.removeUserForm)
                swal.fire({
                title: 'Are you sure?',
                text: "Remove role from user!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove it!'
                }).then((result) => {
                    if (result.value) {
                        this.removeRoleForm.put('removeRole/'+ this.removeUserForm.id).then((response) => {
                            // Fire event
                            this.removeRoleForm.reset()
                            this.removeUserForm.reset()
                            Fire.$emit('onUser');
                            toast.fire(
                                'Revoked!',
                                'Role has been revoked.',
                                'success'
                            )
                        }).catch((error) => {
                            toast.fire(
                                'Warning!',
                                'Could not be revoked.',
                                'warning'
                            )

                            this.catchError(error)
                        });
                    }
                })
            },


            catchError (error) {
              if (error.response.status == 401) {
                  document.location.href = '/401'
              }
            }
        },
        mounted() {
          Fire.$emit('onUser')
        },
        created() {
            this.getUsers()
            this.getRoles()
            Fire.$on('onUser', () => {
              this.getUsers()
            })
        }
    };
</script>

<style type="scss" scoped>
  .roleBadge, .confirmAccount{
    margin: 1px !important;
    cursor: pointer;
  }

</style>