<template>
    <div>
        <transition mode="out-in" appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
            <router-view :appname="appname"></router-view>
        </transition>    
    </div>
</template>

<script>
export default {
    props: {
        appname: String
    }
    
}
</script>