<template>
    <div>
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="" class="brand-link">
                <img :src="logo" alt="AdminLTE Logo" class="brand-image img-circle elevation-3 " style="opacity: .8">
            <span class="brand-text font-weight-light">{{ appname ? appname : "App Name" }}</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <figure class="image" >
                <img :src="profile" class="img-circle elevation-2" alt="User Image">
                </figure>
                <div class="info">
                <router-link to="/settings/profile" class="d-block">{{ user.name }}</router-link>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                 <li class="nav-item" v-for="(item, index) in items" :key="index">
                    <router-link :to="item.route" class="nav-link">
                    <i :class="'nav-icon fa fa-' + item.icon"></i>
                    <p>
                        {{ item.title }}
                    </p>
                    </router-link>
                </li>
                <li class="nav-item has-treeview menu-closed">
                    <a href="#" class="nav-link ">
                    <i class="nav-icon fa fa-cog"></i>
                    <p>
                        Settings
                        <i class="right fa fa-angle-left"></i>
                    </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item" v-for="(item, index) in settingsItems" :key="index">
                            <router-link :to="item.route" class="nav-link">
                            <i :class="'nav-icon fa fa-' + item.icon"></i>
                            <p>
                                {{ item.title }}
                            </p>
                            </router-link>
                        </li>
                
                    </ul>
                </li>
               

                 <li class="nav-item logout">
                    <a @click="logout" class="nav-link">
                        <i class="nav-icon fa fa-lock text-danger"></i>
                        <p>
                            Logout
                        </p>
                    </a>
                </li>

                </ul>

            </nav>


            <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

    </div>
</template>

<script>
    import logo from '../../img/logo.png'
    import profile from '../../img/profile.png'

    export default{
        props: {
            user: {
                type: Object,
                default: null
            },
            appname: String
        },
        data() {
            return {
                logo: logo,
                profile: profile,
                items: [
                    { title: 'Dashboard', icon: 'tachometer', route: '/home' },
                    { title: 'Users', icon: 'users', route: '/users' },
                    { title: 'Roles & Permissions', icon: 'user', route: '/role-permissions' },
                ],

                settingsItems: [
                    { title: 'General', icon: 'circle', route: '/settings/general' },
                    { title: 'Profile', icon: 'circle', route: '/settings/profile' },
                ],
            }
        },

        methods: {
            logout() {
                axios.post('/logout').then((response) => {
                    console.log(response)
                    if (response.status == 302 || 401) {
                        document.location.href = '/login'
                    }
                    toast.fire({
                        type: 'success',
                        title: 'Logged out!'
                    })
                    return;
                }).catch((error) => {
                    toast.fire({
                        type: 'error',
                        title: 'Error logging out!'
                    })
                    console.log(error)
                })
            }
        },

        mounted() {
            
        }
    };
</script>

<style lang="scss" scoped>
    .nav-link:not(.active):hover, a.nav-link.router-link-exact-active.router-link-active {
        background: blueviolet;
        color: #fafafa;
    }
    .logout{
        cursor: pointer;
    } 
    .image img {
        display: block;
        height: auto;
        width: 100%;
        max-height: 36px;
        max-width: 36px;
    }
    
</style>