<template>

<!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
        </div>
        <!-- Default to the left -->
        <strong>Copyright ©  <a href="mailto:geraldmuvengei06@gmail.com">Thunder Softwares</a>.</strong> All rights reserved.
    </footer>

</template>

<script>
    export default {
        
    }
</script>