<template>
    <div>
        <div class="modal fade" id="editUserModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" v-if="editMode">Edit User</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                    <form @submit.prevent="editUser" @keydown="editUserForm.onKeydown($event)">
                        <div class="form-group">
                          <label>Name</label>
                          <input v-model="editUserForm.name" type="text" name="name"
                            class="form-control" :class="{ 'is-invalid': editUserForm.errors.has('name') }">
                          <has-error :form="editUserForm" field="name"></has-error>
                        </div>

                        <div class="form-group">
                          <label>Email</label>
                          <input v-model="editUserForm.email" type="email" name="email"
                            class="form-control" :class="{ 'is-invalid': editUserForm.errors.has('email') }">
                          <has-error :form="editUserForm" field="email"></has-error>
                        </div>


                        <div class="form-group">
                          <label>Role</label>
                          <select v-model="editUserForm.role" type="select" name="role"
                            class="form-control" :class="{ 'is-invalid': editUserForm.errors.has('role') }">

                            <option value="">Select Role</option>
                            <option v-for="role in roles" :value="role.id">{{ role.name }}</option>
                          </select>
                          <has-error :form="editUserForm" field="role"></has-error>
                        </div>

                        <button :disabled="editUserForm.busy" type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>

                    </form>

                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>